DATABASE_URL="postgresql://user:password@host:5432/dbname?connect_timeout=15"
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
CARGOSON_API_KEY=""
ABACUSAI_API_KEY=""
WEB_APP_ID=""
NOTIF_ID_ALERT_CENOWY=""
NOTIF_ID_ALERT_CENOWY_CARGOSON=""
